
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/.vs/ProjectEvaluation/smsratelimiter.metadata.v7.bin
*.bin
*.vsidx
*.v2
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/.vs/SmsRateLimiter/v17/.suo
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/.vs
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/bin
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/obj
SmsRateLimiterBackend/SmsRateLimiter/SmsRateLimiter/SmsRateLimiter.sln.DotSettings.user
*.user
